<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/flyingbox4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/flyingbox4"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoftRoute_v1"
        tools:targetApi="31">
        <activity
            android:name=".client.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".navAdminHeader"
            android:exported="false" />
        <activity
            android:name=".client.homeClientActivity"
            android:exported="false" />
        <activity
            android:name=".client.TrackingActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AddShipment"
            android:exported="false" />
        <activity
            android:name=".admin.homeActivity"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>